<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>contribuciones</title>
</head>
<body>
    <header>
        <nav>
            <h1 class="text-xl">SDLA
                <a href="">Más</a>
                <a href="views/paginas.html">Siguenos</a>
                <a href="views/formulario.html"">Suscribete</a>
                <a href="views/contribuciones.html">contribuciones</a>
                <a href="../index.html" class="home_pag">inicio</a>
            </h1>
        </nav>
    </header>
    <h2>Contribuciones</h2>
</body>
</html>